@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($type) {
  -webkit-transition: $type;
  -moz-transition: $type;
  -o-transition: $type;
  transition: $type;
}
