$col-primary: #aa0414;
$col-secondary: #e0242d;



$col-grey-dk: #333333;
$col-grey-md: #666666;
$col-grey-lt: #999999;

/**
 *  Font stacks
 */

$font-omnes: "omnes", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-mono: monospace, monospace;
